{% extends "base.html"%}
{% load menu_tags cms_tags i18n %}

{% block base_content %}
<style>
.faqWrapper {
  min-height:407px;
}

</style>


<div class="content">
  <div class="titleBar">
      <h1>
          
          <!-- Contenido título -->
          {% page_attribute "page_title" request.current_page.get_root %}
      
      </h1>
      <div class="buyBtnCont">
          <a href="{% page_id_url 'home' %}">{% trans "Compra tu boleto" %}</a>
      </div>
    </div>
   
        <div class="menuSec">
          <ul>
                {% show_menu_below_id request.current_page.slug 1 1 %}
          </ul>
        </div><!-- /menuSec -->
        
        <div class="wrapSecLevel">
        	<div class="contSecLevel">
            {% block titleSecLevel %}
            <div class="titleSecLevel">
                <h2>

                  {% page_attribute "menu_title" request.current_page.id %}

                </h2>
            </div>
            {% endblock %}
            <div class="contWide">
                <div class="int_content">
                {% block int_content %}

<div id="faq">
    <div class="faqImg">
    	<img class="faq" src="{{MEDIA_URL}}images/img_interrogacion.jpg" width="241" height="407" align="left" />
        <div class="clear"></div>
    </div>
    
    <div class="faqWrapper">
        {% block faq_content %}
        {% endblock %}

     </div>
<div class="clear"></div>
</div>

                {% endblock %}
                </div>
                <div class="clear"></div>
            </div>
          <div class="clear"></div>
        </div>
    </div>
    </div>
    <!-- /content -->

{% endblock %}
