{% load i18n %}
<form class="faq_feedback_form" method="post" action="{% url faq_submit_feedback %}">
    <div class="feedback-toggle">
        {{ form.is_useful.label_tag }}{{ form.is_useful }}
        {{ form.is_useful.errors }}
    </div>
<div class="question-feedback" style="display: none;">
    {{ form.reason }}
    {{ form.reason.errors }}<br/>
    <div class="inp">
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.name.errors }}
    </div>
    <div class="inp">
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
    </div>
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <div class="inp btns">
    <button class="btnNormal" type="reset">{% trans 'Cancel' %}</button>
    <button class="btnNormal" type="submit">{% trans 'Send' %}</button>
    </div>
  <div class="clear"></div>
</div>
</form>