{% extends "faq/faq_base.html" %}

{% load i18n faq_tags %}
{% block faq_content %}
<style>
ul#faq-list li {
    list-style: none;
/*    padding: 0 20px 5px 0 !important;*/
}
.hide {
  display:none; 
}

.answer { display:none;}
#faq-list { 
  margin-left:0px !important;
  margin-bottom:35px;
  float:left;
  width:{{width}}%;
}

</style>

<script>
$(document).ready(function(){
    $('.faqWrapper').accordion('destroy');
    $(".faqTitle").bind("click", function(){
            var id_ = $(this).attr("id");
            $(this).parent().toggleClass("selected");
            var pk = id_.split("question_")[1];
            var answer = $("#answer_"+ pk);
            if( !answer.is(":visible") ){
              answer.show();
            } else {
              answer.hide();
            }
    });
    $("#faq-list li a").bind("click", function(){
        var slug = $(this).attr("href");
        $(".hide:visible").hide("slow");
        $(slug).show("slow", function(){
            var q = $(this).find(".question a").get(0);
            $(q).trigger("click");
        });

    }).first().trigger("click");
     

});
</script>

  {% for columns in topics %}
    <ul id="faq-list">
    {%for topic in columns%}
      <li>
          <a href="#{{ topic.slug }}">{{ topic }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}

  <div class="clear"></div>

  {% for columns in topics2 %} 
    {%for topic in columns%}
  <div id="{{topic.slug}}" class="hide">
    <h2 class="faqTitle">{{topic.name}}</h2>
        <ul>
            {% for question in topic.questions.all %}
              {% if question.active %}
              <div class="question_wrapper question">
                  <span>{{forloop.counter}}.&nbsp;&nbsp;</span>
                  <a id="question_{{ question.pk }}" class="faqTitle" name="{{ question.text|slugify }}">{{ question.text }}</a>
              </div>
              <div id="answer_{{ question.pk }}" class="answer">
              {{ question.answer|safe }}
              </div>
              {% endif %}
            {% endfor %}
        </ul>
  </div>
    {% endfor%}
  {% endfor %}


{% endblock %}
