{% load i18n faq_tags %}

<div id="faq">
    <div class="faqImg">
    	<img class="faq" src="{{MEDIA_URL}}images/img_interrogacion.jpg" width="241" height="407" align="left" />
        <div class="clear"></div>
    </div>
    
    <div class="faqWrapper">
    {% for question in topic.questions.all %}
          <div class="question_wrapper"><span>{{forloop.counter}}.&nbsp;&nbsp;</span><a id="question_{{ question.pk }}" class="faqTitle" name="{{ question.text|slugify }}">{{ question.text }}</a></div>
              <div id="answer_{{ question.pk }}" class="answer">
              {{ question.answer|safe }}
              {% if not max_feedback_reached %}
              {% feedback_form question %}
              {% endif %}
              </div>
          {% endfor %}
     </div>
<div class="clear"></div>
</div>
