{% load i18n %}
<p>
    {% blocktrans with feedback.question.topic as topic %}
    We received some user feedback about a question in "{{ topic }}" FAQ list:
    {% endblocktrans %}
</p>

<p>{% trans 'FAQ Question:' %}</p>
<a href="http://{{SITE.domain}}{% url admin:faq_question_change feedback.question.id %}">
    {{feedback.question}}
</a>

---------------------------------------

<p>{% trans 'Name' %}: {{ feedback.name }}</p>
<p>{% trans 'e-mail' %}: {{ feedback.email }}</p>
<p>
    {% trans 'Was this answer useful?' %}: {{ feedback.is_useful|yesno:'Yes,No' }}
</p>
<p>{% trans 'Because' %}:</p>
<p>{{ feedback.reason }}</p>



