.feedback-toggle, .feedback-toggle label{font-style: italic; font-size: 12px;margin:5px 0 20px 10px;}

.answer .question-feedback{ display: none; background-color: #F7EBF5; padding:15px; margin-top:-10px; margin-left:18px;}
.answer .question-feedback textarea{ width:550px; max-width: 550px; height:80px; margin-bottom: 15px;}

.question-feedback .inp{ float:left; width:50%; font-size:12px; text-align:left; margin:0;}
.question-feedback label{ font-size:12px; padding-bottom:5px; display:block; }
.question-feedback .inp input{ width:95%;}
.question-feedback .btns{ float:right; margin-right: 10px;}
.question-feedback .btnNormal { float:right; margin:8px 0 0 15px; }

#id_reason { font-size:12px; color: #656565; padding:10px;}

 /*FAQ*/
 #faq { background:#F7EBF5;}
 .faqImg { width: 241px; float:left; margin:0;}
 
 .faqWrapper { float: right;font-size: 12px;padding: 15px 18px 25px;width: 68%;  background: #FFFFFF;}
 .contThirdLevel .faqWrapper { width: 64%; min-height:430px;}
 .faqWrapper p { font-size:12px; color:#666666;}
 
.faqWrapper div.selected a.faqTitle{background: url(../images/img_boton_menos.jpg) no-repeat right;}
 a.faqTitle{text-decoration:none; background: url(../images/img_boton_mas.jpg) no-repeat right; cursor:pointer; padding-right:20px;}
 a.faqTitle:hover{text-decoration:none; color:#AB4FA1;}
 
.feedback-toggle  {background: none repeat scroll 0 0 #FBF6FB;border-bottom: 1px dotted #E3E3E3;border-top: 1px dotted #E3E3E3;padding-bottom: 5px;padding-top: 5px; margin-left:20px;}
.feedback-toggle label { margin-right:10px;}
.feedback-toggle #id_is_useful { width:100px; font-size:12px;}

.contThirdLevel .feedback-toggle { margin-left:0;}

.question_wrapper { margin:8px 0 8px 0;}
.question_wrapper span{ color: #AB4FA1; text-align: right;}

.question-feedback { color: #AB4FA1; text-align: left;}
 
 
.contThirdLevel .answer .question-feedback{ display: none; background-color: #F7EBF5; padding:15px; margin-top:-10px; margin-left:0;}
.contThirdLevel .answer .question-feedback textarea { width:435px; max-width: 435px; height:80px; margin-bottom: 15px;}
 
 
